<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table table-light">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Enrolled</th>
        </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
        <tr>
        <td><%= link_to student.full_name, "/students/#{student.id}" %></td>
        <td><%= pluralize student.courses.size, 'course' %></td>
    </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
